Nordic_Semiconductor/.metadata

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log

*.snap

*.snap

Nordic_Semiconductor/.metadata/.plugins/org.eclipse.core.resources/.projects/HomeHub_BLE_c/.syncinfo.snap

Nordic_Semiconductor/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

Nordic_Semiconductor/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

Nordic_Semiconductor/.metadata/.plugins/org.eclipse.core.resources/2.snap
